.flex{
    display:flex;
  }
  
.items-center{
align-items: center;
}

.justify-center{
justify-items: center;
}

.space-between{
justify-content: space-between;
}

.uppercase{
text-transform: uppercase;
}

.semibold{
font-weight: bolder;
}

.mx-2{
margin: 0 12px;
}

.desktop-searchBar{
width:20vw;
padding: 4px 17px;
border-radius: 5px;
border: 0.5px solid grey;
background-color: #e1e0e5;
}
.homeImg{
width:100%;
margin:12px 0;
}
h1{
text-align:center;
}
.itemImg{
width: 13vw;
margin: 10px 7px;
}
.flex-wrap{
flex-wrap: wrap;
}

footer{
    margin-top: 2rem;
padding:2vw;
text-align:center;
box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
background-color: #f0e5b1;
}

footer .row{
    display: flex;
}

footer .row .space{
    width: 30vw;
    margin-top: 0;
}

footer .row a{
    display: block;
    color: black;
    font-size: 1rem;
    line-height: 1.5rem;
    text-decoration: none;
}

footer .copy{
    margin-top: 1rem;
    font-size: 1rem;
}

footer .icons a{
    margin:0 .3rem;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: 50%;
    font-size: 2rem;
    color: var(--black);
}